.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lang-btn{
  background: transparent;
  border: none;
  position: relative;
}
.lang-btn:before{
  background: url(./media/icon_arrow.533f49a9.svg) no-repeat;
  background-size: 48px;
  content: "";
  height: 28px;
  width: 24px;
  left: 100%;
  top: 50%;
  margin-top: -12px;
  position: absolute;
  z-index: 9;
  transition: all .1s ease;
}
.lang-btn.up:before{
  background-position: -25px 0;
}