.dropdown{
    float: left;
    padding: 20px 5px;
    width: 250px;
}
.dropdown li{
    list-style: none;
    padding: 10px 15px;
}
.dropdown > .droplink a{
    font-size: 18px;
    font-weight: bolder;
    color: #4a5946;
}
.dropdown > .droplink span {
    font-size: 18px;
    font-weight: bold;
    color: #57834c;
    padding: 0px 10px;
}
.dropdown-content  .droplink a{
    color: #4a5946;
    font-size: 18px;
    position: relative; 
    left: 50px;
}
.dropdown-content{
    display: none;
    position: inherit;
    /* background-image: url(../media/_sub_menu_bg_2.jpg); */
    /* background-size: auto 100%; */
    /* background-repeat: no-repeat; */
    background-color: #ebf2e9;
    width: 100%;
    top: 8px;
}
.dropdown-content > div{
    background-size: auto;
    position: relative;
    padding: 10px 0px;
}
.dropdown-content  .droplink{
   padding: 15px 0px;
}

.subMenuArrow{
    display: none;
    position: absolute;
    left: 8px;
    
}
/**
Hover
**/
.dropdown:hover .dropdown-content, .dropdown:hover a{
    display: inline-block;
    text-decoration: none;
    /* transition: 2s; */
}
.dropdown:hover > .droplink{
    background-color: #63845a;
    /* border-radius: 15px; */
}
.dropdown:hover > .droplink span, .dropdown:hover >.droplink a{
    color: #FFFFFF;
    font-weight: bolder;
}
.dropdown-content ul li:hover{
    background-color: #FFFFFF;
    font-weight: bold;
}
.dropdown-content ul li:hover .subMenuArrow{
    display: inline;
}
.enabledSubMenuArrow{
    display: block;
}
.disabledSubMenuArrow{
    display:none;
}
/* .lang-btn{
    background: transparent;
    border: none;
    position: relative;
}
.lang-btn:before{
    background: url(../media/icon_arrow.533f49a9.svg) no-repeat;
    background-size: 48px;
    content: "";
    height: 28px;
    width: 24px;
    left: 100%;
    top: 50%;
    margin-top: -12px;
    position: absolute;
    z-index: 9;
    transition: all .1s ease;
}
.lang-btn.up:before{
    background-position: -25px 0;
} */